/* Base reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	background-color: hsl(30, 54%, 90%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

body p {
	font-size: 16px;
	font-family: 'Outfit', sans-serif;
}

h3 {
	color: hsl(332, 51%, 32%);
}

h2 {
	color: hsl(14, 45%, 36%);
}

h1 h2 h3 {
	font-family: 'Young Serif' sans-serif;
	font-weight: 400;
}

.container {
	background-color: hsl(0, 0%, 100%);
	margin: 10rem 30rem 10rem 30rem;
	border-radius: 1.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.header_img {
	height: auto;
	width: 100%;
	border-radius: 6rem;
	padding: 4rem 4rem 4rem 4rem;
}

.header h1 {
	font-size: 3rem;
	font-weight: 400;
}
