/* Base reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	background-color: hsl(30, 54%, 90%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

body p {
	font-size: 16px;
	font-family: 'Outfit', sans-serif;
	color: hsl(24, 5%, 18%);
	font-weight: 400;
}

h3 {
	color: hsl(332, 51%, 32%);
}

h2 {
	color: hsl(14, 45%, 36%);
}

h1 h2 h3 {
	font-family: 'Young Serif' sans-serif;
	font-weight: 400;
}

.container {
	background-color: hsl(0, 0%, 100%);
	margin: 10rem 30rem 10rem 30rem;
	border-radius: 1.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.bold {
	font-weight: 600;
}

.bold_brown {
	font-weight: 600;
	color: hsl(14, 45%, 36%);
}

/* Header section */

.header_img {
	height: auto;
	width: 100%;
	border-radius: 6rem;
	padding: 4rem 4rem 4rem 4rem;
}

.header {
	margin-right: 15%;
}

.header h1 {
	font-size: 5rem;
	font-weight: 400;
	margin: 0 0 1rem 0;
	line-height: 1.2;
}

header p {
	font-weight: 400;
	padding: 1rem 0 1.2rem 0;
	font-size: 1.6rem;
}

/* Preperation section */

.prep_section {
	border-radius: 1rem;
	margin: 2rem;
	padding: 4rem;
	height: 100%;
	width: 90%;
	background-color: hsl(330, 100%, 98%);
}

.prep_section li {
	font-family: 'Outfit', sans-serif;
	margin: 1rem;
	font-size: 16px;
	font-weight: 400;
	color: hsl(24, 5%, 18%);
	margin-left: 2.3rem;
	padding-left: 2rem;
}

.prep_section h3 {
	font-family: 'Outfit', sans-serif;
	font-size: 20px;
	font-weight: 600;
}

/* Ingredients section */

.ingredient_section {
	border-radius: 1rem;
	margin: 2rem;
	height: 100%;
	width: 90%;
}

.ingredient_section h2 {
	font-size: 3rem;
}

.ingredient_section li {
	font-family: 'Outfit', sans-serif;
	margin: 1rem;
	font-size: 16px;
	font-weight: 400;
	color: hsl(24, 5%, 18%);
	margin-left: 2.3rem;
	padding-left: 2rem;
	list-style-type: square;
}

.ingredient_section li::marker {
	color: hsl(14, 45%, 36%);
	font-size: 1rem;
}

/* intructions section  */

.intructions_section {
	border-radius: 1rem;
	margin: 2rem;
	height: 100%;
	width: 90%;
}

.intructions_section h2 {
	font-size: 3rem;
}

.intructions_section li {
	font-family: 'Outfit', sans-serif;
	margin: 1rem;
	font-size: 16px;
	font-weight: 400;
	color: hsl(24, 5%, 18%);
	margin-left: 2.3rem;
	padding-left: 2rem;
}

.intructions_section li::marker {
	color: hsl(14, 45%, 36%);
	font-size: 1.6rem;
	font-weight: 600;
}

/* section line */

.section_line {
	/* border-top: 5rem solid red; */
	border: 0;
	clear: both;
	display: block;
	width: 90%;
	background-color: hsl(30, 18%, 87%);
	height: 1px;
}

/* nutrition section */

.nutrition_section h2 {
	font-size: 3rem;
}

.nutrition_section {
	border-radius: 1rem;
	margin: 2rem;
	height: 100%;
	width: 90%;
}

.nutrition_section p {
	margin: 1rem;
}

.nutrition_table tr {
	border-bottom: 1px solid #ddd;
}

.nutrition_table table {
	border-collapse: collapse;
	width: 100%;
	margin: 2rem 0;
	font-size: 1.6rem;
	font-family: 'Outfit', sans-serif;
	color: hsl(24, 5%, 18%);
}

.nutrition_table td {
	padding: 1rem 1.5rem;
}

.nutrition_table td:nth-child(2) {
	text-align: left;
}

.nutrition_table tr:last-child {
	border-bottom: none;
}

/* Responsive */

@media screen and (max-width: 1024px) {
	.header {
		margin-left: 10%;
	}

	.header_img {
		height: auto;
		width: 100%;
		border-radius: 0;
		padding: 0 0 2rem;
	}

	.header h1 {
		font-size: 2.9rem;
		line-height: 1.1;
	}
}
